/*
  * "Stripe.Css" -Version 1.0.0-beta.1~- Css.
  * Variables scss file.
  * The MIT License.
  * Copyright hana.
  * https://github.com/hana-mignon.
*/ 

$bg-color: white;
$bace-color: pink;
$bg-size: 50px;
$transparent-first: 0.3;
$transparent-second: 0.6;
$amount: 50%;
$bg-amount: 50%;
